{% extends 'base.html.twig' %}

{% block title %}Zaloguj się{% endblock %}

{% block body %}
    {% if app.user %}
    <div class="mb-3">
        Zalogowano jako {{ app.user.username }}, <a href="{{ path('app_logout') }}">Wyloguj</a>
    </div>
    {% else %}
        {% if error %}
            <div class="alert alert-danger">Niepoprawne dane logowania.</div>
        {% endif %}
<div class="login-form-div">
    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal login-title">Zaloguj się</h1>
        <div class="login-inputs">
            <label for="inputUsername">Nazwa użytkownika</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" autocomplete="username" required autofocus>
            <label for="inputPassword">Hasło</label>
            <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            {#        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
            {#        See https://symfony.com/doc/current/security/remember_me.html#}

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Zapamiętaj mnie
                </label>
            </div>

            <button class="btn btn-lg btn-orchid" type="submit">
                Zaloguj
            </button>
        </div>
    </form>
</div>



    {% endif %}
{% endblock %}
