<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polbahasa - mobilni, zapraszamy wkrótce!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ encore_entry_link_tags('app') }}
</head>
<body>
    <div class="home-page">
        <div class="home-page-search">
            <h1 class="main-title">{{ 'title.main'|trans }}</h1>
            <h2 class="sub-title"> {{ 'title.sub'|trans }}</h2>
            Wsparcie dla przeglądarek mobilnych wkrótcte!
        </div>
    </div>
    </body>
</html>
