{% extends 'admin/word.html.twig' %}

{% block title %}Dodaj wyrażenie{% endblock %}

{% block edit_word_section %}
    <section class="edit-word-section">
        <div class="header-word"><i>Wprowadź wyrażenie</i></div>
        <div class="speech-section">
            <div class="part-of-speech-div">
                <div class="part-of-speech-input-div">
                    <input class="part-of-speech" placeholder="Wprowadź część mowy">                    <div class="pos-suggestion-div hidden">
                        <ul class="pos-suggestion-ul suggestions-ul">
                        </ul>
                    </div>
                </div>
            </div>
            <ol class="foreign-word-ol">
                <li class="foreign-meaning-li">
                    <div class="foreign-meaning-name"><i>Wprowadź tłumaczenie</i></div>
                    <div class="sentence-section">
                        <div class="example-sentence"><i>Wprowadź zdanie</i></div>
                        <div class="example-translation"><i>Wprowadź tłumaczenie</i></div>
                    </div>
                </li>
            </ol>
        </div>
    </section>
{% endblock %}
