<section class="editing-input-section">
    <div class="edit-phrase-div1 hidden">
        <div class="edit-phrase-div2">
            <div class="edit-phrase-desc"></div>
            <input type="text" id="phrase-text-in">
            <div class="edit-phrase-btn-div">
                <button type="button" id="edit-phrase-apply" class="btn btn-hotpink">Zatwierdź</button>
                <button type="button" id="edit-phrase-cancel" class="btn btn-lightpink">Anuluj</button>
            </div>
        </div>
    </div>
</section>