{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

<div class="admin-menu">
    <a href="{{ path('admin_show_words') }}" class="admin-menu-tile">Wyświetl wyrażenia</a>
    <a href="{{ path('addword') }}" class="admin-menu-tile">Dodaj wyrażenie</a>
    <a href="{{ path('admin_pos') }}" class="admin-menu-tile">Zarządzaj częściami mowy</a>
</div>

{% endblock %}
