{% extends 'base.html.twig' %}

{% block title %}Dodaj podstawę słowotwórczą{% endblock %}
{% block body %}
        <div class="admin-root-word-edit-div">
                <div>Podstawa słowotwórcza</div>
                {{ form(form) }}
        </div>
{% endblock %}