<form action="{{ path('dictionary') }}" method="get" autocomplete="off">
    <div class="search-input-div">
        <input type="text" name="q" placeholder="Wpisz indonezyjskie lub polskie słowo">
        <button type="submit" class="search-submit-btn fas fa-search" title="Szukaj"></button>
    </div>
</form>