@import '~bootstrap/scss/bootstrap';
body{
  font-family: "Comic Sans MS";
  font-size: 20px;
}
.main-container{
  padding: 0 30px;
}
.navbar a{
  padding: 0 30px;
}
.header-word{
  font-weight: 600;
  font-size: 30px;
}
.part-of-speech{
  color: darkgray;
}
.meaning-name{
  font-weight: 400;
  font-size: 1.2em;
}
.example-translation{
  color: darkgray;
}
.admin-menu{
  margin: 0 20%;
  display: flex;
  justify-content: center;
}
.admin-menu-tile{
  text-decoration: none;
  color: white;
  width: 200px;
  height: 200px;
  background-color: plum;
  margin: 40px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}
.edit-word-section input{
  width: 200px;
}
.edit-hover{
  opacity: 0.5;
  cursor: pointer;
}
.edit-word-footer{
  display: flex;
  justify-content: flex-start;
  position:absolute;
  bottom: 60px;
}
.edit-word-footer button{
  margin: 0 10px;
  height: 40px;
}
.add-sentence-btn{
  width: 10px;
  height: 10px;
  background-color: hotpink;
  display: inline-block;
  position: relative;
  bottom: 10px;
}

.sentence-section div{
  display: inline;
  margin: 0 10px;
}