@import '~bootstrap/scss/bootstrap', 'buttons', 'admin';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    opacity: 0.5;
    color: black;
  }
}

.hidden {
  display: none;

  &:before {
    display: none;
  }
}

.opacity0 {
  opacity: 0;
}

#phrase-text-in {
  width: 600px;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.navbar a {
  padding: 0 30px;
  margin: 0;
}

.nav {
  &-item-right {
    margin-right: 30px;
  }

  &-language {
    &-container {
      display: flex;
      justify-content: center;
      margin-right: 5px;

      a, span {
        padding: 0 5px;
      }

      a {
        color: rgba(0, 0, 0, 0.55);
      }
    }

    &-selected {
      color: black !important;
    }
  }
}

.header-word {
  font-weight: 600;
  font-size: 30px;
}

.foreign {
  &-meaning {
    &-name {
      font-weight: 400;
      font-size: 1.2em;
      display: inline;
    }

    &-li {
      margin: 20px 0;
    }
  }

  &-word {
    font-weight: bold;
    margin-top: 10px;
  }
}

.native-meaning-li {
  .sentence-tr {
    font-size: 0.95em;
  }
}

.foreign-word, .native-meaning-name {
  font-size: 1.15em;
}

.example-translation {
  color: darkgray;
  padding-left: 20px;
}

.root-word {
  &-name {
    font-weight: 600;
    font-size: 35px;
  }

  &-description {
    width: 100%;
    color: darkgray;
    font-size: 1.1em;
  }

  &-div {
    margin-bottom: 20px;
  }
}

.part-of-speech {
  width: 100%;
  color: darkgray;

  &-input-div {
    width: 250px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.sentence-tr {
  margin: 10px 0;

  td {
    width: 40vh;
    padding-top: 12px;
  }
}

.home-page {
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main-title {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .sub-title {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  span {
    white-space: nowrap;
  }
}

.search {
  &-bar {
    display: flex;
    margin-top: 20px;
    height: 50px;
  }

  &-input {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    input {
      padding: 0 30px;
      margin: 0;
      width: 500px;
      height: 50px;
      border-radius: 25px;
    }
  }

  &-submit-btn {
    outline: none;
    border: 0;
    background-color: transparent;
    position: relative;
    bottom: 35px;
    right: 1.4rem;
  }

  &-suggestions {
    &-ul {
      background-color: white;
      max-height: 185px;

      li {
        border-radius: 10px;
      }
    }

    &-scroll {
      overflow-y: scroll;
    }
  }
}

input, textarea {
  box-sizing: border-box;
  border: 1px solid rgba(227, 227, 227, 0.81);
  outline: none;

  &:focus {
    border: 1px solid rgba(228, 89, 236, 0.88);
  }
}

.suggestions {
  &-div {
    position: relative;
    bottom: 20px;
    right: 15px;
    justify-self: end;

    &-main {
      height: 200px;
    }
  }

  &-ul li {
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    text-align: left;
  }

  &-selected {
    background-color: rgba(245, 229, 229, 0.84);
    color: rgba(228, 89, 236, 0.88);
    cursor: pointer;
  }
}

.result-header-description {
  color: #999999;
  margin-top: 10px;
  margin-bottom: 20px;
}

.pagination {
  flex-wrap: wrap;

  &-container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
  }

  &__item {
    margin: 5px;
    color: #000000;
    border-radius: 50px;
    padding: 5px 15px;

    :not(.pagination__item--disabled):not(.pagination__item--current-page):hover {
      background-color: #eab9ff;
      color: #000000;
    }

    &--current-page {
      background-color: #d08cf3;
      color: #000000;
    }

    &--disabled {
      display: none;
    }
  }
}

.empty-result-suggestion-div {
  border: 2px solid #c006c0;
  border-radius: 30px;
  padding: 20px;
  margin-top: 20px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;

  a {
    text-decoration: none;
    color: #c006c0;
    margin-left: 5px;
  }
}

.word {

  &-list {
    display: flex;
    flex-direction: column;
    width: 70%;

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 2% 0;
    }
  }

  &-counter {
    margin: 10px 0;
  }

  &-table {
    border-collapse: collapse;
    width: 100%;

    td, th {
      border: 2px solid #d08cf3;
      padding: 8px;
    }

    .btn {
      margin: 5px 0;
    }

    .word-action {
      width: 20%;
    }
  }
}

@import "responsive";

