{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <div class="home-page">
        <div class="home-page-search">
            <h1 class="main-title">{{ 'title.main'|trans }}</h1>
            <h2 class="sub-title"> {{ 'title.sub'|trans }}</h2>
            {% include 'dictionary/search_input.html.twig' %}
        </div>
    </div>


{% endblock %}
